.container.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header-right-column{
    display: flex;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: block;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    background: #e5e5e5;
}
img.araba-logo {
    height: 35px;
}
.header-action {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
    cursor: pointer;
    margin-right: 20px;
}
picture.greeting-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
}
/* .filter-vehicles-widget {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: inherit;
} */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}
user agent stylesheet
div {
    display: block;
}
.main-container-header {
    font-size: 35px;
    color: white;
}
.checkbox-container{
    padding-top: 40px;
    vertical-align: -webkit-baseline-middle;
    display: flex;
    justify-content: space-between;
    
}
.checkboxL{
    padding-right: 30px;
    padding-left: 10px;
    color: white;
}
.combobox-container{
    padding-top: 50px;
}

.combobox{
    color: "white";
    font-size: 16px;
    padding: 9px;
    width:200px;
    margin: 0;
    border-radius: 0 4px 4px 0;
    border: 0;
}
.buttonC{
    color: "white";
    background-color: "#16ab39";
    font-size: 16px;
    padding: 9px;
    width:200px;
    margin: 0 ;
    border-radius: 0 4px 4px 0;
    border: 0;
}
.popular-content-container{
    background-color: "#e5e5e5";
    margin-top: 35px;
}
.popular-content{
    width: 100%;
    max-width: 1000px;
    margin: 40px;
    background: #e5e5e5;
      
}
.wrap-content{
    display: flex;
    box-sizing: content-box;
    position: relative;    
}
.wrap-content-item1{
    width: 250px;
    padding: 0 10px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    justify-content: space-around;
    justify-content: space-between;
   
    
}
.wrap-content-item2{
    width: 250px;
    padding: 0 10px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    justify-content: space-around;
    justify-content: space-between;   
}
.wrap-content-item3{
    width: 250px;
    padding: 10px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    justify-content: space-around;
    justify-content: space-between;   
}
.wrap-content-item4{
    width: 250px;
    padding: 0 10px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    justify-content: space-around;
    justify-content: space-between;   
}
.wrap-content-info{
    background-color: white;
    padding: 10px 40px 10px 15px;
    margin-top: -4px;
    height: 85px;
    display: block;
}
.wrap-content-itemX{
    width: 250px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

